*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
 width: 800px;
 margin: auto;
 display: flex;
 align-items: center;
 flex-direction: column;
 margin-top: 50px;
}

img{
    width: 300px;
    height: auto;
}

.addText{
    margin-top: 25px;
}

.tasks-container{
    margin-top: 50px;
    width: 100%;
    background-color: rgb(243, 241, 241);
    border-radius: 20px;
    padding: 25px 25px 0 25px;
}

.task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid gray;
}

button, input{
    border-radius: 10px;
    border-color: rgb(243, 241, 241);
    padding: 10px;
    margin: 0 5px 0 5px;
}

.text{
    text-decoration: line-through;
}